<div class="col col-lg-10 offset-md-1">
	<div class="jumbotron">
		<h3>{{title}}</h3>
		<hr/>
		<form #formProduct="ngForm" (ngSubmit)="onSubmit()" class="col col-lg-6" id="form-product">
			<label>Id:</label><br>
			<label>{{product.id}}</label><br>
			<label>Code:
			<span *ngIf="!code.valid && code.touched">Obligatory field</span></label>
			<input type="text" #code="ngModel" name="code" [(ngModel)]="product.code" class="form-control" required>
			<label>Name:
			<span *ngIf="!names.valid && names.touched">Obligatory field</span></label>
			<input type="text" #names="ngModel" name="names" [(ngModel)]="product.names" class="form-control" required>
			<label>Price:
			<span *ngIf="!price.valid && price.touched">Incorrect format</span></label>
			<input type="text" #price="ngModel" name="price" [(ngModel)]="product.price" class="form-control" required pattern="[0-9]+">
			<label>Cost:
			<span *ngIf="!cost.valid && cost.touched">Incorrect format</span></label>
			<input type="text" #cost="ngModel" name="cost" [(ngModel)]="product.cost" class="form-control" required pattern="[0-9]+">
			<label>Description:
			<span *ngIf="!description.valid && description.touched">Obligatory field</span></label>
			<textarea #description="ngModel" name="description" [(ngModel)]="product.description" class="form-control" required></textarea>
			<label>Product type:</label>
			<select class="browser-default custom-select form-control" #productType="ngModel" name="productType" [(ngModel)]="product.productType">
			  <option selected  value="TSHIRT">T-shirt</option>
			  <option value="CUP">Cup</option>
			  <option value="COMICS">Comics</option>
			  <option value="SUPERHERO_TOY">Superhero toy</option>
			  <option value="SUPERHERO_ACCESSORY">Superhero accessory</option>
			</select>
			<br>
			<input type="submit" value="{{textButton}}" [disabled]="!formProduct.form.valid" class="btn btn-lg btn-success spaceButton">
			<a [routerLink]="['/product-list']" class="btn btn-lg btn-info spaceButton">{{cancelButton}}</a>
		</form>
	</div>
</div>